extends: default

rules:
  document-start: disable
  line-length: disable
  comments-indentation: disable
  braces:
    ignore: grafana-operator/base/instance/grafana.yaml
  indentation:
    ignore: bootstrap/base/sealed-secrets-secret.yaml
